
{% assign post = include %}

<div class="post-excerpt-container">
  <div class="post-excerpt">
    {% assign title = post.title %}

    <div class="post-excerpt-text">

      {%
        include post-info.html
        title=post.title
        tags=post.tags
        content=post.content
      %}

      {% assign search = post.content
        | strip_html 
        | strip_newlines
        | regex_strip
      %}

      <p data-search="{{ search | xml_escape }}">
        {{ excerpt }}
      </p>
    </div>
  </div>
</div>
